# direnv
.direnv

# git-secret random seed (see https://sobolevn.me/git-secret/)
.gitsecret/keys/random_seed

# Original secret files
!secrets/*.secret

# detect-secrets cache
.secrets.baseline.tmp

# git-secret will add its managed secrets at the end of the file

secrets/ddclient-password
secrets/dlk-protonmail-password
