[submodule "private-assets"]
	path = private-assets
	url = git@github.com:othercriteria/private-assets.git
[submodule "gitops-veil"]
	path = gitops-veil
	url = git@github.com:othercriteria/gitops-veil.git
