# direnv
.direnv

# nix build output symlinks
result
result-*

# VM disk images
*.qcow2

# git-secret random seed (see https://sobolevn.me/git-secret/)
.gitsecret/keys/random_seed

# Original secret files
!secrets/*.secret

# detect-secrets cache
.secrets.baseline.tmp

# private-assets (would defeat the point to track it in this repo!)
private-assets/

# git-secret will add its managed secrets at the end of the file

secrets/ddclient-password
secrets/dlk-protonmail-password
secrets/anthropic-2025-03-28-local-dev
secrets/anthropic-2025-04-10-vibectl-personal-usage
secrets/veil-k3s-token
secrets/home-ca.crt
secrets/home-ca.key
secrets/argocd-repo-key
secrets/huggingface-token-2025-12-14
secrets/harmonia-cache-private-key
secrets/github-runner-token
secrets/srs-whip-bearer-token
secrets/homeassistant-token
secrets/mqtt-homeassistant-password
secrets/mqtt-nixos-password
secrets/ntfy-password
secrets/grafana-secret-key
